<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Banglet - Bracelet with a BANG</title>
    <meta name="author" content="Marcin Kierebinski">
    <meta name="description" content="Banglet Concept">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/agile.css' %}">
  </head>

  <body>
    <div class='topnav'>
      <a href="/"><h3>Home</h3></a>
      <a href="/kvp/"><h3>KVP</h3></a>
      <a href="/product/"><h3>Product</h3></a>
    </div>
    <div class='hero'>
      <section class='responsive_grid'>
      <div>
        <h1>Bangle Care</h1>
        <h3>Concept Idea</h3>
        <p>Bangle is a senior care smart bracelet that will help caregivers to monitor location of their older relatives. </p>
      </div>
      <img src="{% static 'images/senior.jpg' %}">
        </section>
    </div>

    <section class='padding-responsive'>
      <div class='separator'>Motivation</div>
  
        <p>Doesn't it feel great to know our loved ones are safe and well? Of course, but living separately might not let you react quick enough. In case something happens, you are likely going to find out about it after the fact. Getting notified early can make a tremendous difference. It could give you time necessary to react and prevent a serious injury</p>
  
        <h4 class=''> Features </h4>
        <ol>
          <li> Track user location </li>
          <li> Ergonomic Design </li>
          <li> Easy Setup </li>
        </ol>
  
        <div class='separator'>Meet the Team</div>
        <p> We are a team of engineers dedicated to creating a feeling of safety and peace of mind for seniors and their caregivers. </p>
        <table class='margin-top-xl'>
          <thead>
            <tr>
              <th class='small'> First Name </th>
              <th class='medium'> Last Name </th>
              <th class='large'> Email </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> Marcin </td>
              <td> Kierebinski </td>
              <td> mrkiereb@ucsd.edu </td>
            </tr>
            <tr>
              <td> Nicolas </td>
              <td> Munoz </td>
              <td> nimuno@ucsd.edu </td>
            </tr>
            <tr>
              <td> Rusul </td>
              <td> Albusultan </td>
              <td> rualbu@ucsd.edu </td>
            </tr>
            <tr>
              <td> Raymond </td>
              <td> Urbina </td>
              <td> raurbin@ucsd.edu </td>
            </tr>
          </tbody>
        </table>

        <div class='separator'>
           Coming Up
        </div>
        <ol>
          <li> Survey </li>
          <li> Competition Overview </li>
          <li> Prototype Media </li>
          <li> Customer Stories </li>
        </ol>
        <p>Built based on ece140_cloud_deployment repo:<a href="https://github.com/ramujin/ece140_cloud_deployment">https://github.com/ramujin/ece140_cloud_deployment</a></p>
      </section>
  
  </body>
</html>