<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Banglet - For a Better VIP Experience</title>
    <meta name="author" content="Marcin Kierebinski">
    <meta name="description" content="Banglet">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dark-neons.css' %}">
  </head>

  <body>
    <header>
        <!-- <img src="{% static 'images/logo.png' %}" class="logo" > -->
        <h1 class="container" >Banglet</h1>
        <nav class="container">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/kvp/">KVP</a></li>
                <li><a href="/product/">Product</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
      <img style="margin-top: 3em; width: 60%" src="{% static 'images/smartwatch_app.png' %}">
    </div>
    <h1 class="container" style="text-align: center; margin-bottom: 10rem;"> For a Better VIP Experience </h1>

    <div class='container hero'>
      <section class='flex-grid'>
        <div class="container" >
          <h3>Design Concept</h3>
          <p>Banglet is a smart bracelet product that offers venues access to VIP attendee locations to enable services such as concierge (food and drink delivery). When it comes to end-users, the bracelet could enable touch payments, seamless identity check for access to VIP-restricted areas and ordering drinks, as well as potentially an option to find points and persons of interest (bathrooms, medical team, other bracelet users).</p>
        </div>
        <div class="container">
          <img style="margin-top: 4em" src="{% static 'images/mind_map.png' %}">
        </div>
      </section>
    </div>

    <div class='separator'>Motivation</div>
  
    <p class="container">Venues often have hundreds to thousands of people attending and it can be tricky for attendees to find the points of interest such as certain stages, food trucks or bars. Even having the online map of the venue it might be difficult to decipher the current location and figure out which way you’re supposed to go and which sections you can access. Another common issue is getting separated from others by accident. GPS and location sharing with friends is simply not accurate enough and doesn’t have the flexibility to include other attendees. Leaving the conversation to get food or a drink is frustrating and so is looking through your phone to find the tickets.</p>

    <div class='container white'>
      <h4> Basic Features </h4>
      <ol>
      <li> Track user location
        <ol style="list-style-type: lower-alpha;">
          <li>Offering the concierge/food delivery service to VIP customers</li>
          <li>Integrated with the indoors map (possibly)</li>
          <li>Can be used to gather friends together if some are lost or want to regroup</li>
        </ol>
      </li>
      <li> Hands-free experience
        <ol style="list-style-type: lower-alpha;">
          <li>ID for purchases</li>
          <li>Ticket info for access to restricted sections</li>
          <li>Payment info</li>
        </ol>
      </li>
      <li> Skins can be added to bracelets as an accessory to make the bracelet aesthetically interesting </li>
      </ol>
    </div>
    <div style="margin-top: 4em"; class="container hero">
      <div class="btn">
        <a href="/product/"><h4 style='color: var(--dark) !important;'>Find out more!</h4></a>
      </div>
    </div>

    <div class='separator'>Design Iterations</div>

    <p class="container">Refining the product design is an iterative process and it requires being open to new ideas and being able to verify them with our customers, our users, and other stakeholders. If you want to see the history of different iterations on our idea for this system, or our pivots history, how people in entrepreneurship world would call it, click the button below.</p>

    <div style="margin-top: 4em"; class="container hero">
      <div class="btn">
        <a href="/product/iterations"><h4 style='color: var(--dark) !important;'>Check out our design journey!</h4></a>
      </div>
    </div>
  
    <div class='separator'>Meet the Team</div>
    
    <p class='container'> We are a team of engineers dedicated to creating a feeling of safety and peace of mind for seniors and their caregivers. </p>
    <br><br>
    <div class='container'>
    <table>
      <thead>
        <tr>
          <th class='small'> First Name </th>
          <th class='medium'> Last Name </th>
          <th class='large'> Email </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> Marcin </td>
          <td> Kierebinski </td>
          <td> mrkiereb@ucsd.edu </td>
        </tr>
        <tr>
          <td> Nicolas </td>
          <td> Munoz </td>
          <td> nimuno@ucsd.edu </td>
        </tr>
        <tr>
          <td> Rusul </td>
          <td> Albusultan </td>
          <td> rualbu@ucsd.edu </td>
        </tr>
        <tr>
          <td> Raymond </td>
          <td> Urbina </td>
          <td> raurbin@ucsd.edu </td>
        </tr>
        <tr>
          <td> Karen </td>
          <td> Hernandez </td>
          <td> kahern@ucsd.edu </td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class='separator'>
       Coming Up
    </div>
    <div class='container white'>
    <ol>
      <li> Survey </li>
      <li> Competition Overview </li>
      <li> Prototype Media </li>
      <li> Customer Stories </li>
    </ol>
    </div>
    <br><br>
    <div class='container'>
    <footer>
      <div class = "flex-2-grid">
        <p>2022 by Marcin Kierebinski</p>

        <div style='display:inline;'>
          <a href=https://www.linkedin.com/in/marcin-kierebinski-a56676167>
            <img style="width: 3rem; padding: 1rem; margin: 0;" src="{% static 'images/linkedin_logo.png' %}">
          </a>
        </div>
      </div>
    </footer>
    </div>
</body>
</html>