<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Banglet - For a Better VIP Experience</title>
    <meta name="author" content="Marcin Kierebinski">
    <meta name="description" content="User Interface">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dark-neons.css' %}">
  </head>

  <body>
    <header>
      <!-- <img src="{% static 'images/logo.png' %}" class="logo" > -->
      <h1 class="container" >Banglet</h1>
      <nav class="container">
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/kvp/">KVP</a></li>
              <li><a href="/product/">Product</a></li>
          </ul>
      </nav>
    </header>
    <h1 class="container">User Interactions</h1>  
    <div class='flex-2-grid'>
    <div class="hero" style="margin-bottom: 2em">
      <div class="container">
        <img style="margin-top: 2em; margin-bottom: 2em"; src="{% static 'images/simulation.png' %}">
      </div>
      <div class="container">
        <p>To be able to thoroughly test our system and better illustrate our concepts, we've created a simulation environment that shows the flow of a simple event. Here we have position history for 5 of us, creators, being attendees to the venue. We start by coming in from the left and we're getting checked in by one of the 2 scanners (green) which is where location tracking starts. We then proceed to go to different vendors and make some purchases using a BANGLET system. At the end of the event, our banglets are deactivated and no morre tracking takes place. Simple, seamless, and efficient. For a better VIP experience.</p>
      </div>
    </div>
    </div>

    <div class='flex-2-grid'>
    <div class='container hero'>
          <img style="margin-top: 2em; margin-bottom: 2em"; src="{% static 'images/interaction_organizer.png' %}">
          <h3 style="color: var(--dark) !important;">Event Organizer</h3>
          <p>All the data you need to increase VIP satisfaction and drive your revenue can now be accessible at your fingertips. Making sure that our system works as intended, we did not forget about making its integration as seamless as possible. If you are an event organizer, do you ever wonder:</p>
          <li style="color: var(--dark) !important;">is the current event management process intuitive? modern?</li>
          <li style="color: var(--dark) !important;">is the data being tracked relevant/ exhaustive for revenue optimization?</li>
          <li style="color: var(--dark) !important;">is there anything else I can do to make my most important customers more satisfied?</li>
          <br>
    </div>

    <div class='container hero'>
        <img style="margin-top: 2em; margin-bottom: 2em"; src="{% static 'images/interaction_attendees.png' %}">
          <h3  style="color: var(--dark) !important;">VIP Attendee</h3>
          <p>Through our UX, we wish to express our focus on the hassle-free experience for end users. Following this philosophy, we want eliminate the common pain points that commonly accompany such events both for the user and the event organizer. Let's talk. How many times did you:</p>
          <li style="color: var(--dark) !important;">not know where to go/ how to get somewhere?</li>
          <li style="color: var(--dark) !important;">have trouble finding somebody?</li>
          <li style="color: var(--dark) !important;">worry about your wallet (credit card, ID, tickets)?</li>
          <li style="color: var(--dark) !important;">want to order something delivered to you directly?</li>
          <br>
    </div>
    </div>

    <div class='container'>
      <footer>
        <div class = "flex-2-grid">
          <p>2022 by Marcin Kierebinski</p>
  
          <div style='display:inline;'>
            <a href=https://www.linkedin.com/in/marcin-kierebinski-a56676167>
              <img style="width: 3rem; padding: 1rem; margin: 0;" src="{% static 'images/linkedin_logo.png' %}">
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>