<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Banglet - Bracelet with a BANG</title>
    <meta name="author" content="Marcin Kierebinski">
    <meta name="description" content="Banglet">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dark-neons.css' %}">
  </head>

  <body>
    <header>
      <!-- <img src="{% static 'images/logo.png' %}" class="logo" > -->
      <h1 class="container" >Banglet</h1>
      <nav class="container">
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/kvp/">KVP</a></li>
              <li><a href="/product/">Product</a></li>
          </ul>
      </nav>
    </header>
  
    <div class='container hero'>
      <section class='flex-grid'>
      <div>
        <h3>KVP</h3>
        <p>We want to enable venues to improve the current VIP experience and take it to the next level by offering a hassle-free experience for payments and identification as well as locating people and points of interest.</p>
      </div>
        </section>
      </div>
      <div class='separator'>KVP commentary</div>
      <div class='container'>
        <img src="{% static 'images/KVP.png' %}">
      </div>

    <br><br>
    <div class='container'>
    <footer>
        <p>2022 by Marcin Kierebinski</p>
    </footer>
    </div>
  </body>
</html>