<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Banglet - Bracelet with a BANG</title>
    <meta name="author" content="Marcin Kierebinski">
    <meta name="description" content="Banglet Concept">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/agile.css' %}">
  </head>

  <body>
    <div class='topnav'>
      <a href="/"><h3>Home</h3></a>
      <a href="/kvp/"><h3>KVP</h3></a>
      <a href="/product/"><h3>Product</h3></a>
    </div>
      <div class='hero'>
        <section class='responsive_grid'>
        <div>
          <h1>KVP</h1>
          <h3>This is Key Value Proposition Page </h3>
          <p>The key value we’re proposing is that through monitoring older relatives daily patterns abnormalities in schedule can be indicators of disturbances in health or other variables. Additionally, it’s about building a closer connection and independence between users and older relatives.</p>
        </div>
        <img src="{% static 'images/KVP.png' %}">
         </section>
      </div>
  
      <section class='padding-responsive'>
        <div class='separator'>Commentary</div>
        <p> Based on the research so far, we’ve developed an end user persona to be an elderly person independent enough to live by themselves and set their own schedule. They can be physically limited by age or medical conditions and are at risk of getting hurt when no one is around. To give their loved ones peace of mind and ensure their safety, such seniors will be eager to give their caregivers access to the data to monitor their condition. </p>
  
      </section>
  
  </body>
</html>