<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Banglet - For a Better VIP Experience</title>
    <meta name="author" content="Marcin Kierebinski">
    <meta name="description" content="Banglet">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dark-neons.css' %}">
  </head>

  <body>
    <header>
      <!-- <img src="{% static 'images/logo.png' %}" class="logo" > -->
      <h1 class="container" >Banglet</h1>
      <nav class="container">
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/kvp/">KVP</a></li>
              <li><a href="/product/">Product</a></li>
          </ul>
      </nav>
    </header>
  
    <div class='container hero'>
      <section class='flex-grid'>
      <div>
        <h3>Key Value Proposition</h3>
        <img style="margin-top: 2em; margin-bottom: 2em"; src="{% static 'images/love.png' %}">
        <p>We want to enable venues to improve the current VIP experience and take it to the next level by offering a hassle-free experience for payments and identification as well as locating people and points of interest. In the section below, we're presenting what's called Key Value Proposition Canvas, a tool that helps identify the most important value items that we are attempting to offer to our customers.</p>
        <h4>#weloveyou #forbetterVIPexperience</h4>
      </div>
        </section>
      </div>
      <div class='separator'>Key Value Propositions</div>
      <div class='container'>
        <p>The event management platform market has major players in the game: Eventbrite, Cvent, and Live Entertainment to name a few. There are, however, successful startups in this field and the leading example of that is the San Diego based company Whova that was founded in 2012 and by 2019 has been reporting a revenue of $17M. We also believe that our product has its own unique value proposition that our competitors do not have in their offer.</p>
        <img src="{% static 'images/KVP.png' %}">
      </div>

    <br><br>
    <div class='container'>
      <footer>
        <div class = "flex-2-grid">
          <p>2022 by Marcin Kierebinski</p>
  
          <div style='display:inline;'>
            <a href=https://www.linkedin.com/in/marcin-kierebinski-a56676167>
              <img style="width: 3rem; padding: 1rem; margin: 0;" src="{% static 'images/linkedin_logo.png' %}">
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>