<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Banglet - Bracelet with a BANG</title>
    <meta name="author" content="Marcin Kierebinski">
    <meta name="description" content="Banglet Concept">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/agile.css' %}">
  </head>

  <body>
    <div class='topnav'>
      <a href="/"><h3>Home</h3></a>
      <a href="/kvp/"><h3>KVP</h3></a>
      <a href="/product/"><h3>Product</h3></a>
    </div>
      <div class='hero'>
        <section class='responsive_grid'>
        <div>
          <h1>Product Page</h1>
          <h3>Concept</h3>
          <p>There are multiple facets to the decision on technology that this product would utilize, but we’re focusing on making it as convenient as possible to ensure effectiveness of such a solution. A minimalistic and comfortable wearable device that provides the data used to determine if the person of interest is safe. In case of detection of any abnormalities from the daily routine, the caregiver would be notified. Development of this system will involve a smart use of machine learning to establish habit patterns and detect changes that could make it dangerous. </p>
        </div>
        <img src="{% static 'images/undraw_Smartwatch_re_59lx.png' %}">
         </section>
      <section>
      </div>  
        <div class='separator'>Product Technical Considerations</div>
        <h4 class=''> Features </h4>
        <ol>
          <li> Record users location at home </li>
          <li> Record user's location outside </li>
          <li> Record when the device is taken off </li>
          <li> Secure database of location sharing </li>
          <li> Notification system to inform the user </li>
          <li> Use machine learning to detect abnormalities from routine </li>
        </ol>
        </section>
  
  </body>
</html>