<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Banglet - Bracelet with a BANG</title>
    <meta name="author" content="Marcin Kierebinski">
    <meta name="description" content="Banglet">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dark-neons.css' %}">
  </head>

  <body>
    <header>
      <!-- <img src="{% static 'images/logo.png' %}" class="logo" > -->
      <h1 class="container" >Banglet</h1>
      <nav class="container">
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/kvp/">KVP</a></li>
              <li><a href="/product/">Product</a></li>
          </ul>
      </nav>
    </header>

    <div class='container hero'>
      <section class='flex-grid'>
      <div>
        <h3>Product Page</h3>
        <p>Venues are often looking for ways to improve the experience of attendees during events. Our solution takes a B2B perspective by targeting festival/concert venues as our customers and aiming to offer them access to VIP attendee location to enable services such as concierge (food and drink delivery). This would be achieved thanks to UWB technology that allows for precise tracking indoors. It can be leveraged to create a platform for attendees to be able to find people and navigate around venues easily. </p>
        <p>This could also enable a concierge-type service for VIPs (e.g. order food/drinks to be delivered directly). Friends before attending events can link their bracelets together and recorded information like location tracking will be communicated between phones and bracelets of the friends. Having all the necessary information stored on the bracelet would allow participants to not worry in case the phone battery dies, because payment, identification, and ticket access can be stored in the database for the attendee.</p>
        <p>This communication of data allows attendees to get the next-level hassle free and safe experience during the event. Adding custom skins we design will also allow users to feel more individualized at venues and be able to add another sense of fashion to attending events while promoting health and safety. After the concert it would essentially become a souvenir or a collectible item that would have unique designs for each of the festivals.</p>
      </div>
      <img style="margin-top: 2em; margin-bottom: 2em"; src="{% static 'images/concert.jpg' %}">
      </section>
    </div>
    <div style="margin-top: 4em"; class="container hero">
      <div class="btn">
        <a href="/product/ui"><h3>Check out our UI</h3></a>
      </div>
    </div>
    <div class='separator'>Empathy Maps</div>
    <div class='container'>
      <img src="{% static 'images/customer_empathy_map.png' %}">
      <img src="{% static 'images/user_empathy_map.png' %}">
    </div>

    <div class='separator'>Product Technical Considerations</div>
      <div class='container'>
      <p>We will be using UWB technology as well as bluetooth (BLE for communication with users phone, UWB can be set up with beacons around the venue and you can tell with .1m precision where the person is, much better than GPS performance-wise)</p>
        <h4> Features </h4>
        <ol>
          <li> Track user location
            <ol style="list-style-type: lower-alpha;">
                <li>Offering the concierge/food delivery service to VIP customers</li>
                <li>Integrated with the indoors map (possibly)</li>
                <li>Can be used to gather friends together if some are lost or want to regroup</li>
                </ol>
          </li>
          <li> Hands-free experience
            <ol style="list-style-type: lower-alpha;">
                <li>ID for purchases</li>
                <li>Ticket info for access to restricted sections</li>
                <li>Payment info</li>
            </ol>
          </li>
          <li> Skins can be added to bracelets as an accessory to make the bracelet aesthetically interesting </li>
        </ol>
        </section>
      </div>
      <br><br>
    <div class='container'>
    <footer>
        <p>2022 by Marcin Kierebinski</p>
    </footer>
    </div>
  </body>
</html>