<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Banglet - For a Better VIP Experience</title>
    <meta name="author" content="Marcin Kierebinski">
    <meta name="description" content="User Interface">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dark-neons.css' %}">
  </head>

  <body>
    <header>
      <!-- <img src="{% static 'images/logo.png' %}" class="logo" > -->
      <h1 class="container" >Banglet</h1>
      <nav class="container">
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/kvp/">KVP</a></li>
              <li><a href="/product/">Product</a></li>
          </ul>
      </nav>
    </header>
  
    <div class='container hero'>
      <section class='flex-grid'>
      <div>
        <h3>User Interface</h3>
        <p>Through our UI, we wish to express our focus on the hassle-free experience for the user. Since our system will manage a large amount and variety of data, our UI will have to consist of different views. The current design ideas are presented in the sketches below.</p>
      </div>
        </section>
      </div>
      <div class='separator'>User Interface - Customer View</div>
      <div class='container'>
        <p>Venues often have hundreds of people they have to manage and even more they need to serve in order to facilitate easy data capture and its seamless integration to the current workflows, we're going to provide the customers with only 2 main views after login - dashboard and event editing </p>
        <img src="{% static 'images/UI_customer_view.png' %}">
      </div>
      <div class='separator'>User Interface - End User View</div>
      <div class='container'>
        <p>In order to make the experience of going to the event as pleasant as possible for VIP customers, the bracelet will allow access to certain features through the website, but our goal is to implement features without necessitating a need for display (of course after registration). Website view would only really be used for editing preferences and utilizing the indoor navigation function in 5G enabled locations.</p>
        <img src="{% static 'images/UI_user_view.png' %}">
      </div>

      <div class='separator'>Laws of UI Design</div>

      <div class='container hero'>
        <div class ='container'>
        <h4 style='color: var(--dark) !important;'>3 Examples of Laws of UI Design we were inspired by</h4>
        <h5 style='color: var(--dark) !important;'>Familiarity</h5>
        <p>In terms of Laws of UI Design Familiarity is one of the principles of UI design and it's extremely powerful. Being able to operate something new in the same way you used to operate other things in the past immensely speeds up the learning process. For example, a lot of apps on windows have the exact same installation process that we are so familiar with that we could almost do it with our eyes closed! </p>
        <img style='width: 70%'; src="{% static 'images/familiarity.png' %}">
        <h5 style='color: var(--dark) !important;'>Flexibility</h5>
        <p>Flexibility of the product is a design principle on the rise right now. We are flooded with different solutions and it's hard to figure out how to combine them all efficiently. When software is integrable with other software, it makes it a lot easier to implement it as a part of your workflow. Look at Trello vs Monday, they are pretty much the same, only Trello has much less integration capabilities and that's why many people choose Monday despite the hefty price tag. </p>
        <img src="{% static 'images/integration.jpg' %}">
        <h5 style='color: var(--dark) !important;'>Efficiency</h5>
        <p>Lastly, efficiency. Being able to skip the repetitive steps in filling out forms is a blessing. Filling out the forms with all of your personal data for every single app could cause people to go bananas. Browsers implement it for us, thank you browsers!</p>
        <img src="{% static 'images/autofill.png' %}">
      </div>
      </div>


    <br><br>
    <div class='container'>
      <footer>
        <div class = "flex-2-grid">
          <p>2022 by Marcin Kierebinski</p>
  
          <div style='display:inline;'>
            <a href=https://www.linkedin.com/in/marcin-kierebinski-a56676167>
              <img style="width: 3rem; padding: 1rem; margin: 0;" src="{% static 'images/linkedin_logo.png' %}">
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>