:root {
  --light: #0EBEFF;
  --dark: #1D1E22;
  --white: #C6E2F3;
  --black: #070B0D;
  --margin: 1rem;
  --base-font-size: 14pt;
  --border-radius: 2rem;
  --rounded-radius: 4rem;
  --padding: 0.5rem 1rem;
  --font: Constantia;
}

body{
  background-color: var(--dark);
}

/* text */
a{
  color: var(--white);
  text-decoration: none;
}

p,h2,h3,h4,h5,table,ol,ul,li{
  color: var(--white);
}

h1{
  font-size: calc(1.5rem + 2.5vw);
  vertical-align: middle;
  color: var(--light);
  text-shadow: 0 0 0.1em hsl(0 0% 100% / 0.5);
}
h2 {
  font-size: calc(1rem + 2.5vw);
}
h3 {
  font-size: calc(1rem + 2.1vw);
  text-align: center;
}
h4 {
  font-size: calc(1rem + 1.5vw);
}
h5 {
  font-size: calc(1rem + 1vw);
}
h6 {
  font-size: calc(1rem + 0.5vw);
}
p {
  font-size: calc(0.8rem + 1vw);
}
li {
  font-size: calc(0.8rem + 1vw);
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
table th {
  text-align: left;
  background: var(--dark);
  padding: var(--padding);
  color: var(--light);
  border: 1px solid var(--white);
  font-size: calc(0.8rem + 1vw);
}
table td {
  margin: 0px;
  text-align: left;
  padding: var(--padding);
  border: 1px solid var(--white);
  color: var(--dark);
  font-size: calc(0.8rem + 1vw);
  word-wrap: break-word
}
table tr:nth-child(odd) {
  background-color: var(--white);
}

table tr:nth-child(even) {
  background-color: var(--light);
}

nav li{
  display: inline-block;
  position: relative;
}
nav a{
  text-transform: uppercase;
  font-size: calc(1rem + 1.8vw);
  padding: var(--padding) var(--padding);
}

nav a:hover{
  text-transform: uppercase;
  text-shadow: 0 0 0.6em var(--white), 0 0 1em var(--light); 
  color: var(--light);
}

/* sections */
header{
  background-color: var(--dark);
  display: flex;
}
header::after{
  content:'';
  clear: both;
}

footer{
  background-color: var(--light);
  text-align: left;
  padding: var(--padding);
  border-radius: 2em;
}

footer p{
color: var(--dark);
}

/* nav{
  width: 100%;
} */

.hero{
  background-color: var(--light);
  box-shadow: 0 0 4rem 0 var(--light);
  border-radius: 2em;
  border: 1rem  solid var(--dark);
}

.hero p,li,h3,h4,h5{
  color: var(--dark);
}

.hero a{
  color: var(--white);
}

.hero a:hover{
  color: var(--dark);
  text-shadow: 0 0 1em var(--white), 0 0 1.5em var(--light);
}

.dark p,h1,h2,h3,h4,h5,li,ol,ul{
  color: var(--dark) !important;
}

.white p,h1,h2,h3,h4,h5,li,ol,ul{
  color: var(--white) !important;
}

.container{
  padding: 0 1em;
  width: 85%;
  margin: 0.3em 0.3em 1em 0;
  position: relative;
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 80em){
  .flex-grid{
    display: flex;
    gap: 1em;
    flex: 1;
  }
}

@media (min-width: 50em){
  .flex-2-grid{
    display: flex;
    gap: 3em;
    flex: 1;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn{
  background: var(--light);  
}

.btn h4{
  text-align: center;
  color: var(--dark);
}

.btn h4:hover{
  text-shadow: 0 0 0.4em var(--white), 0 0 1em var(--white); 
  color: var(--white);

}

img {
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  max-width: 80vw;
  max-height: 80vw;
  border-radius: 2em;
}

/* separator */
.separator {
  font-size: calc(1rem + 1vw);
  color: var(--light);
  display: flex;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  margin: calc(2rem + 3vw) auto;
}
.separator::before, .separator::after {
  content: "";
  flex: 1;
  border-bottom: 3px solid var(--light);
}
.separator::before {
  margin-right: 1rem;
}
.separator::after {
  margin-left: 1rem;
}