:root {
  --light: #0EBEFF;
  --dark: #1D1E22;
  --white: #C6E2F3;
  --black: #070B0D;
  --margin-xxl: 3rem;
  --margin-xl: 2rem;
  --margin-lg: 1rem;
  --margin-med: 0.66rem;
  --margin-sm: 0.33rem;
  --base-font-size: 14pt;
  --border-radius: 2px;
  --rounded-radius: 4rem;
  --padding-responsive: calc(1rem + 3vw);
  --padding-xxl: 4rem;
  --padding-xl: 1.4rem;
  --padding-lg: 1rem;
  --padding-med: 0.66rem;
  --padding-sm: 0.33rem;
  --font: Constantia;
}
* {
  box-sizing: border-box;
}

body{
  /* min-height: 100vh; */
  display: grid;
  background: var(--black);
  font-family: var(--font);
}

/* -- ELEMENTS -- */
.container {
  padding: 0 1em;
  max-width: 60rem;
  margin: 0 auto;
  border: 2px solid var(--dark);
}

.topnav {
position: relative;
background-color: var(--black);
overflow: hidden;
}

.topnav a {
text-align: center;
display: inline-block;
cursor: pointer;
/* position: relative; */
text-decoration: none;
color: var(--light);
/* padding: calc(0.25rem + 2.1vw) calc(0.25rem + 1vw); */
}

/* Change the color of links on hover */
.topnav a:hover {
color: var(--white);
text-shadow: 0 0 0.1em hsl(0 0% 100% / 0.5), 0 0 0.35em currentColor; 
}

.bang {
background-color: var(--black);

}

.bang h1 {
width: 100%;
text-align: center;
display: inline-block;
cursor: pointer;
pointer-events:none;
text-decoration: none;
color: var(--light);
/* padding: 0.5em 1em; */
text-shadow: 0 0 0.1em hsl(0 0% 100% / 0.5), 0 0 0.25em currentColor; 
position: relative;
}

.bang h1::before{
content: "";
position: absolute;
background: var(--light);  
top: 50%;
width: 100%;
height: 100%;
transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
filter: blur(1em);
}

.hero {
background: var(--black);
color: white;
}
.hero h3 {
padding: 0 var(--padding-responsive);
}

h1 {
font-size: calc(1rem + 3.5vw);
}
h2 {
font-size: calc(1rem + 2.7vw);
}
h3 {
font-size: calc(1rem + 2.1vw);
}
h4 {
font-size: calc(1rem + 1.5vw);
}
h5 {
font-size: calc(1rem + 1vw);
}
h6 {
font-size: calc(1rem + 0.5vw);
}
h2, h3, h4, h5, h6, .card {
/* padding: var(--padding-responsive); */
/* margin: var(--margin-med) auto; */
width: 100%;
}
/* horizontal line with text label */
.separator {
font-size: calc(1rem + 1vw);
color: var(--separator-color);
display: flex;
text-transform: uppercase;
align-items: center;
text-align: center;
margin: calc(2rem + 3vw) auto;
}
.separator::before, .separator::after {
content: "";
flex: 1;
border-bottom: 3px solid var(--separator-color);
}
.separator::before {
margin-right: 1rem;
}
.separator::after {
margin-left: 1rem;
}
/* -- GRID -- */
.responsive_grid {
display: grid;
grid-gap: 1rem;
grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
/* -- UTILITY */
.padding-lg {
padding: var(--padding-lg);
}
.padding-xl {
padding: var(--padding-xl);
}
.padding-xxl {
padding: var(--padding-xxl);
}
.padding-responsive {
padding: calc(1rem + 3vw);
}
.margin-none {
margin: none !important;
}
.margin-top-lg {
margin-top: var(--margin-lg);
}
.margin-top-xl {
margin-top: var(--margin-xl);
}
.margin-top-xxl {
margin-top: var(--margin-xxl);
}
img {
border: 2px solid black;
width: 100%;
}